@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

input {
  color: #000;
  margin: 1rem auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-template-columns {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
